PORT=4000

# Spotify (set your CLIENT_ID and CLIENT_SECRET)
SPOTIFY_CLIENT_ID=8c87d19e52734f2b9914269964a09b21
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://localhost:4000/auth/callback

# Weather API (provided)
WEATHER_API_KEY=e537db0dc1a0b4298651961d6f4b00a5

SESSION_SECRET=some_long_random_string
